@font-face {
  font-family: "Pretendard-regular";
  src: url(../fonts/Pretendard-Regular.woff);
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url(../fonts/Pretendard-Bold.woff);
}

.main_main {
  align-items: flex-start;
}

.carousel-item {
  height: 200px;
}

.ad-img {
  height: 100%;
  background-size: cover;
  width: 100%;
  object-fit: cover;
}

a {
  color: black;
}

.category {
  border-radius: 10px;
  border: 1px solid #ff5037;
  background-color: white;
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 10px;
  text-decoration: none;
  padding: 9px 25px;
  cursor: pointer;
}

.category_clicked {
  border-radius: 10px;
  border: 1px solid #ff5037;
  background-color: #ff5037;
  color: white;
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 10px;
  text-decoration: none;
  padding: 9px 25px;
  cursor: pointer;
}

.category:active {
  background-color: #ff5037;
  color: white;
}

.category-area {
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 20px;
}

.main_province_choice {
  margin-right: 20px;
}

.sort_area_container {
  width: 1024px;
  margin: 50px auto auto;
  position: relative;
}

.sort_area_inner {
  margin: 0 40px;
  display: flex;
}

.sort-area {
  display: flex;
  font-size: 16px;
}

.some-area {
  left: 40px;
  padding-top: 7px;
  font: 20px;
}

.some_area_dummy {
  color: #ffffff;
}

.test {
  position: absolute;
  top: 0;
  right: 40px;
  display: flex;
}

footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 970px;
  height: 250px;
  text-align: center;
}

.footer-icon {
  color: white;
  margin-top: 60px;
  font-size: 25px;
  width: 25px;
  height: 25px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ff5037;
  border-radius: 50%;
}

.footer-second-line {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 80px;
}

.footer-second-line-items {
  color: black;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.card {
  width: 230px;
  height: 350px;
  margin-left: 7px;
  margin-right: 7px;
  color: black;
  text-decoration: none;
  display: flex;
}

.card:active {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 2px 14px rgba(0, 0, 0, 0.16);
}

.card-body {
  text-align: center;
  justify-content: center;
}

.card-title {
  margin-top: 24px;
  font-size: 20px;
  font-family: "Pretendard-Bold";
}

.card-explanation {
  margin-top: 15px;
  font-size: 16px;
  margin-top: px;
  width: 196px;
  height: 40px;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-explanation img {
  display: none;
}

.card-study_favorite {
  margin-top: 24px;
}

.card-people {
  margin-top: 5px;
  margin-bottom: 0;
}

.card_category {
  color: #7d7d7d;
  margin-top: 5px;
}

.heart {
  position: absolute;
  right: 20px;
  font-size: 12px;
}

.card_area_container {
  margin: 50px auto 50px auto;
  width: 1024px;
  display: flex;
}

@media (max-width: 1024px) {
  .category-area {
    width: 100%;
  }

  .sort_area_container {
    width: 100%;
  }

  .card_area_container {
    margin: 0 auto 0 auto;
    width: 100%;
    justify-content: center;
    display: flex;
  }
}

@media (max-width: 580px) {
  .category-area {
    width: 100%;
    text-align: center;
    display: block;
  }
}

.card_area_inner {
  margin: 0 20px;
}

.card-area {
  float: left;
  justify-content: center;
  margin-bottom: 15px;
}

link {
  color: black;
  text-decoration: none;
}

.studyDetail_contianer {
  padding-bottom: 500px;
}

.StudyProfileArea {
  height: 225px;
  background-color: #e6e6e6;
}

.studydDetail_area_container {
  width: 650px;
  margin: 0px auto;
}

@media (max-width: 1024px) {
  .sutydDetail_area_container {
    width: 100%;
  }
}

.container {
  border: 1px solid #e6e6e6;
  height: 250px;
}

.StudyDetail-first-line {
  display: flex;
  position: relative;
}

.studyDetail_recruit_status {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

.studyDetail_heart {
  cursor: pointer;
  top: 10px;
  right: 10px;
  position: absolute;
  font-size: 17px;
  color: white;
}

.studyDetail_heart.liked {
  color: #ff5037;
  /* or any other color you want for the liked state */
}

.StudyDetail-img {
  margin-left: 100px;
  border-radius: 70%;
}

.StudyDetail-second-line {
  display: flex;
  position: relative;
}

.items-detail {
  margin-left: 60px;
}

.studyDetail_hashtag {
  color: #7d7d7d;
}

.studyDetail_study_name {
  font-family: "Pretendard-Bold";
  font-size: 24px;
  margin-bottom: 0;
}

.studyDetail_second_bottom {
  position: absolute;
  bottom: -35px;
}

.apply-button-area {
  right: 0;
  bottom: -15px;
  position: absolute;
}

.apply-button {
  width: 165px;
  height: 50px;
  background-color: #ff5037;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}

.contents {
  width: 650px;
  margin: 50px auto;
  height: 700px;
}

.contents_inner {
  margin: 0 40px;
}

@media (max-width: 650px) {
  .contents {
    width: 100%;
  }

  .contents_inner {
    margin: 0;
  }
}

.contents-area {
  margin-top: 15px;
  margin-bottom: 100px;
}

.studyDetail_study_contents_title {
  font-family: "Pretendard-Bold";
  font-size: 24px;
}

.studyDetail_study_contents img {
  width: 100%;
}

.studyDetail_study_age_title {
  font-family: "Pretendard-Bold";
  font-size: 24px;
}

.studyDetail_study_review_title_contianer {
  display: flex;
  position: relative;
}

.studyDetail_study_review_title {
  font-family: "Pretendard-Bold";
  font-size: 24px;
}

.studyDetail_study_graduaion {
  right: 0;
  position: absolute;
  padding-top: 7px;
}

.btn-secondary {
  --bs-btn-bg: #ffffff;
  color: black;
  border: none;
  --bs-btn-active-bg: white;
  --bs-btn-hover-bg: white;
}

.btn:hover {
  background-color: white;
  color: black;
  border: none;
}

select {
  border: none;
}

/* Make Study Page CSS */

input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid gray;
}

.hash-tag {
  border: 1px solid gray;
  width: 70px;
  height: 35px;
  border-radius: 10px;
  font-size: 12px;
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.study_card_img_setting {
  width: 120px;
  height: 120px;
}

.study_card_img_contianer {
  margin-top: 15px;
  display: block;
}

.card_top_container {
  display: flex;
}

.card_recruit_status_img {
  margin-top: 8px;
  margin-left: 6px;
  margin-right: 10px;
}

.studyDetail_review_each_container {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 21px;
  margin-bottom: 100px;
}

.studyDetail_review_top {
  display: flex;
}

.studyDetail_review_nick {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  margin: 5px 0 5px 15px;
}

/* Bar 차트의 막대 색상 변경 

path.recharts-rectangle {
  fill: #ff5037;
}*/