
/* font */

@font-face {
    font-family: 'Pretnedard-regular';
    src: url(../fonts/Pretendard-Regular.woff);
}

@font-face{
    font-family: 'Pretendard-Bold';
    src: url(../fonts/Pretendard-Bold.woff);
}
body{
  margin: 0 auto;
  
}
body:no-scroll{
  overflow: hidden;
}

.logos{
    margin-top: 50px;
}

.title{
    font-family: 'Pretendard-Bold';
    margin-top: 40px;
    font-size: 24px;
}

.thumbnail{
    margin-top: 60px;
    cursor: pointer;

}


.container_inner {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 0%;
}




.study_name_area {
  text-align: left;
  margin-top: 72px;
  font-size: 16px;
}

.study_name_input{
    margin-top: 10px;
    padding: 15px 22px;
    font-size: 16px;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    height: 50px;
    width: 415px;
}

.info_circle{
    margin-bottom: 2px;
    margin-left: 12px;
}
.info_warning{
    font-size: 16px;
    color: #7D7D7D;
    display: inline;
    text-align: center;
}

.study_info_area {
  text-align: left;
  margin-top: 40px;
}

.study_info_input_box {
    width: 415px;
    height: 140px;
    margin-top: 10px;
    padding: 17px 22px;
    font-size: 16px;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    resize: none;
}

.number {
  text-align: left;
  margin-top: 40px;
}

.study_number_input{
    margin-top: 10px;
    padding: 15px 22px;
    font-size: 16px;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    height: 50px;
    width: 415px;
}

.study_category_area{
  text-align: left;
  margin-top: 40px;
  width: 415px;
}


.category_input{
  display: none;
}

.checkboxs_label{
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
  padding-left: 22px;
  padding-right: 22px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 17px;
  margin-right: 17px;
}


.checkboxs_label{
  background-color: #ffffff;
  border: 1px solid #C5C5C5;
  border-radius: 10px;
  color: #000000;
}

.category_input:checked+label{
  background-color: #FF5037;
  border-radius: 10px;
  border: 1px solid #FF5037;
  color: #FFFFFF;
}









.on_offline {
  text-align: left;
  margin-top: 40px;
}

.selects{
    margin-top: 10px;
}


.selects input[type=radio]{
    display: none;
}

.selects input[type=radio]+label{
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    width: 195px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}


.selects input[type=radio]+label{
    background-color: #ffffff;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    color: #000000;
}

.selects input[type=radio]:checked+label{
    background-color: #FF5037;
    border-radius: 10px;
    border: 1px solid #FF5037;
    color: #FFFFFF;
}
.rightMargin{
    margin-right: 25px;
}


.citychoice_container{
  text-align: left;
  margin-top: 40px;
}
.citychoice{
  margin-top: 10px;
}

.city_inputs{
  padding: 15px 22px;
  font-size: 16px;
  border: 1px solid #C5C5C5;
  border-radius: 10px;
  height: 50px;
  width: 197px;
}



.hash_tag_area {
  text-align: left;
  margin-top: 40px;
  width: 415px;
  
}
.hash_tag_input_container{
 margin-bottom: 5px;
}



.make_study_button {
  margin-top: 70px;
  margin-bottom: 300px;
  background-color: #ff5037;
  border-radius: 10px;
  width: 215px;
  height: 50px;
  color: white;
  border: none;
  font-size: 24px;
  padding: 2px;
}









  .studyWarning{
    margin: 5px;
    color: #ff5037;
}
