.report_container {

    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

.modal_container {
    z-index: 1000;
    position: absolute;
    width: 824px;
    height: 493px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
}

.reportq {
    position: relative;
    margin-top: 60px;
    text-align: center;
    font-size: 24px;
}

.reason {
    font-size: 16px;
    position: relative;
    height: 13.92px;
    left: 93px;
    top: 55px;
    width: 150px;
}

.square {
    top: 80px;
    left: 90px;
    width: 645px;
    height: 150px;
    border-radius: 15px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #C5C5C5;
}

.reportbuttonA {
    position: absolute;
    top: 380px;
    left: 333px;
    width: 165px;
    height: 50px;
    background-color: #ff5037;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    text-align: center;
}