body {
    margin: 0;
  }
  
  nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-detail {
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    font-size: 18px;
    color: black;
  }
  
  .nickname-area {
    position: relative;
    right: 30px;
  }
  
  .logo-area {
    position: relative;
    left: 30px;
  }
  
  .study-ad {
    height: 200px;
  }
  
  .study-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
  }
  
  .study-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .study-ad-container {
    width: 700px;
    height: 200px;
    text-align: center;
  }
  
  .study-info-container {
    width: 700px;
    height: 400px;
  }
  
  .hash-tag {
    color: gray;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .study-title {
    color: black;
    font-size: 20px;
    font-weight: 700;
  }
  
  .first-line {
    text-align: left;
    margin-bottom: 70px;
  }
  
  .second-line {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
  
  .apply-button {
    width: 160px;
    height: 50px;
    background-color: #ff5037;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
  }
  
  footer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-container {
    width: 970px;
    height: 250px;
    text-align: center;
  }
  
  .footer-icon {
    color: white;
    margin-top: 30px;
    font-size: 25px;
    width: 25px;
    height: 25px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ff5037;
    border-radius: 50%;
  }
  
  .footer-second-line {
    font-size: 18px;
    margin-top: 80px;
  }
  
  .footer-second-line-items {
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .review-box {
    border: 1px solid gray;
    height: 100px;
    width: 646px;
    border-radius: 10px;
    padding: 5px;
  }
  
  
.nav_links{
  cursor: pointer;
}